.tab-active {
  color: var(--glow-lavender);
  border-bottom: 3px solid var(--glow-lavender);
  text-shadow: 0 0 15px rgba(216, 178, 254, 0.6);
}

.sub-tab-active::after {
  content: '';
  position: absolute;
  bottom: -13px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #7c3aed;
  box-shadow: 0 0 8px #7c3aed;
}

.archive-inner-active {
  background-color: rgba(124, 58, 237, 0.2);
  border: 1px solid rgba(124, 58, 237, 0.3);
}
